# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# pyenv
.python-version

# TwiAgent file

media/
tweet.txt

interestsOK.txt
interestsNG.txt
interestsOK.new
interestsNG.new
